.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
}

.item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: rgb(164, 57, 185);
}

.text {
  flex: 1;
}

/* 완료된 항목 스타일 */
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete {
  cursor: pointer;
  background-color: rgb(253, 121, 121);
  border: none;;
}

.delete:hover {
  background-color: rgb(255, 87, 87);
}